@charset 'utf-8';
@import url(reset.css);
/* sub.css */

/* common */
html{font-size: 62.5%}
body{font-size: 1rem; font-family: "NanumBarunGothic"; color: #333333;}
h1, h2, h3, h4, dt{font-family: "DM Serif Display";}
a{text-decoration: none; color: #333333;}

body.dark{background: #112A63; color: #ffffff;}
body.dark a{color: #ffffff;}

@media (min-width : 1600px){
    /* layout */
    .wrap{width: 100%; margin: 0 auto;}
        header{width: 59.375vw; height: 2.604vw; margin: 2.604vw auto 0; opacity: 0; padding: 0 2.083vw; opacity: 0; box-sizing: border-box;}
        main{width: 100%;}
            main>.intro_p{width: 59.375vw; margin: 0 auto; padding: 0 2.083vw; box-sizing: border-box;}
            main>.intro_d_p{width: 100%; background: rgba(105,150,254,0.7); margin-top: 3.646vw;}
                main>.intro_d_p>.intro_d_p_inner{width: 59.375vw; margin: 0 auto; padding: 2.083vw; box-sizing: border-box;}
            main>.detail_p{width: 59.375vw; margin: 0 auto; padding: 0 2.083vw; box-sizing: border-box;}
        footer{width: 59.375vw; height: 5.208vw; margin: 12vw auto 5.208vw; border-top: 0.260vw solid #333333; padding: 1.823vw 2.083vw 0; box-sizing: border-box; transform: translateY(150px); opacity: 0;}
        footer:after{content: ""; display: block; clear: both;}

    /* header */
    header>h1{font-size: 2.344vw;}

    /* main */
    main .up_ani{transform: translateY(150px); opacity: 0;}

    main>.intro_p>h2{margin: 4.746vw 0 1.904vw;}
    main>.intro_p>h2>span{display: inline-block; height: 8.138vw; overflow: hidden;}
    main>.intro_p>h2>span:nth-of-type(2){margin-right: 3.385vw;}
    main>.intro_p>h2>span>i{display: inline-block; font-size: 11.458vw; font-style: normal; margin-top: -3.906vw; transform: translateY(370px);}

    main>.intro_p>dl{position: relative; width: 100%;}
    main>.intro_p>dl:after{content: ""; display: block; clear: both;}
    main>.intro_p>dl>dt{width: 100%; font-size: 2.083vw; margin-bottom: 1.042vw;}
    main>.intro_p>dl>dd:first-of-type{font-size: 1.042vw; line-height: 1.5;}
    main>.intro_p>dl>dd:nth-of-type(2)>a{position: absolute; right: 0; bottom: 3.2vw; padding: 0.260vw 1.042vw; border: 0.052vw solid #333; border-radius: 3.125vw; font-size: 1.250vw; font-family: "DM Serif Display"; cursor: pointer; transition: all 0.3s ease 0s;}
    main>.intro_p>dl>dd:last-of-type>a{position: absolute; right: 0; bottom: 0; padding: 0.260vw 2.192vw; border: 0.052vw solid #333; border-radius: 3.125vw; font-size: 1.250vw; font-family: "DM Serif Display"; cursor: pointer; transition: all 0.3s ease 0s;}
    main>.intro_p>dl>dd:last-of-type>a:hover,main>.intro_p>dl>dd:nth-of-type(2)>a:hover{background: #333333; color: #ffffff;}

    main>.intro_d_p>.intro_d_p_inner>.i_detail{width: 100%;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail:after{content: ""; display: block; clear: both;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail>dl{position: relative; float: left; color: #ffffff; margin-right: 6vw;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail>dl:last-of-type{margin-right: 0;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail>dl>dt{margin-bottom: 1.563vw; font-size: 0.938vw; font-family: "NanumBarunGothic"; font-weight: 700;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail>dl>dd{margin-top: 2.813vw; font-size: 0.883vw; font-weight: 200;}

    main>.intro_d_p>.intro_d_p_inner>.mockup_box{position: relative; width: 100%; height: 30vw; margin-top: -2.825vw;}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_01{position: absolute; left: 14.7vw; bottom: 1%; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_01>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_splash.png) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_02{z-index: 2; position: absolute; bottom: -15%; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_02>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_main.jpg) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_03{position: absolute; bottom: -10%; right: 0; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_03>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_sub.jpg) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_04{position: absolute; bottom: -25%; right: 14.7vw; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_04>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_sub2.jpg) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

    main>.detail_p{margin-top: 8.854vw;}
    main>.detail_p>h3{width: 100%;}
    main>.detail_p>h3>span{display: inline-block; height: 5.990vw; overflow: hidden;}
    main>.detail_p>h3>span>i{display: inline-block; margin-top: -2.344vw; font-size: 7.292vw; font-style: normal; transform: translateY(150px);}

    main>.detail_p>div{position: relative; width: 100%; margin-top: 7.813vw; transform: translateY(150px); opacity: 0;}
    main>.detail_p>div>h4{font-size: 4.167vw;}
    main>.detail_p>div>p:first-of-type{font-size: 1.563vw; font-weight: bold;}
    main>.detail_p>div>p:last-of-type{font-size: 1.302vw; line-height: 1.5;}
    main>.detail_p>div>.img_box{width: 100%; margin-top: 7vw;}

    
    main>.detail_p>div.overview>.img_box>span{display: block; width: 100%; height: 22.465vw; background: url(../images/img_ww_detail_overview.png) no-repeat 0 0; background-size: 100%; background-size: 100%;}
    main>.detail_p>div.persona>.img_box>span{display: block; width: 100%; height: 41.26vw; background: url(../images/img_ww_detail_persona.png) no-repeat 0 0; background-size: 100%;}


    main>.detail_p>div.task{margin-top: 11.979vw;}
    main>.detail_p>div.task>h4{line-height: 0.9;}
    main>.detail_p>div.task>p{margin-top: 1.042vw;}

    main>.detail_p>div.task>.img_box>span{display: block; width: 100%; height: 25.6vw; margin-top: -1.563vw; background: url(../images/img_ww_detail_task.png) no-repeat 0 0; background-size: 100%;}


    main>.detail_p>div.wire{margin-top: 11.979vw;}
    main>.detail_p>div.wire>.img_box>span{display: block; width: 100%; height: 53vw; background: url(../images/img_ww_detail_wire.png) no-repeat 0 0; background-size: 100%;}
    

    /* footer */
    footer>p{font-size: 3.125vw; font-family: "DM Serif Display"; opacity: 0.5; transition: all 0.3s ease 0s; cursor: pointer;}
    footer>p:first-of-type{float: left;}
    footer>p:nth-of-type(2){margin-left: 16.188vw; float: left;}
    footer>p:last-of-type{float: right;}

    footer>p:hover{opacity: 1;}  

    /* dark mode */
    body.dark main>.intro_p>dl>dd:nth-of-type(2)>a{border-color:#fff;}
    body.dark main>.intro_p>dl>dd:last-of-type>a{border-color:#fff;}
    body.dark main>.intro_p>dl>dd:last-of-type>a:hover,body.dark main>.intro_p>dl>dd:nth-of-type(2)>a:hover{background: #fff; color: #112a63;}
    body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_01{border-color: #112A63;}
    body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_02{border-color: #112A63;}
    body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_03{border-color: #112A63;}
    body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_04{border-color: #112A63;}
    body.dark main>.detail_p>div.overview>.img_box>span{background: url(../images/img_ww_detail_overview_white.png) no-repeat 0 0; background-size: 100%;}
    body.dark main>.detail_p>div.persona>.img_box>span{background: url(../images/img_ww_detail_persona_white.png) no-repeat 0 0; background-size: 100%;}
    body.dark main>.detail_p>div.task>.img_box>span{background: url(../images/img_ww_detail_task_white.png) no-repeat 0 0; background-size: 100%;}
    body.dark main>.detail_p>div.wire>.img_box>span{background: url(../images/img_ww_detail_wire_white.png) no-repeat 0 0; background-size: 100%;}
    body.dark footer{border-top-color:#fff;}

}/* 1600px ~ - pc */

@media (min-width: 1024px) and (max-width: 1599px){
    /* layout */
    .wrap{width: 100%; margin: 0 auto;}
        header{width: 59.375vw; height: 2.604vw; margin: 2.604vw auto 0; opacity: 0; padding: 0 2.083vw; box-sizing: border-box;}
        main{width: 100%;}
            main>.intro_p{width: 59.375vw; margin: 0 auto; padding: 0 2.083vw; box-sizing: border-box;}
            main>.intro_d_p{width: 100%; background: rgba(105,150,254,0.7); margin-top: 3.646vw;}
                main>.intro_d_p>.intro_d_p_inner{width: 59.375vw; margin: 0 auto; padding: 2.083vw; box-sizing: border-box;}
            main>.detail_p{width: 59.375vw; margin: 0 auto; padding: 0 2.083vw; box-sizing: border-box;}
        footer{width: 59.375vw; height: 5.208vw; margin: 12vw auto 5.208vw; border-top: 0.260vw solid #333333; padding: 1.823vw 2.083vw 0; box-sizing: border-box; transform: translateY(150px); opacity: 0;}
        footer:after{content: ""; display: block; clear: both;}

    /* header */
    header>h1{font-size: 2.344vw;}

    /* main */
    main .up_ani{transform: translateY(150px); opacity: 0;}

    main>.intro_p>h2{margin: 4.746vw 0 1.904vw;}
    main>.intro_p>h2>span{display: inline-block; height: 8.138vw; overflow: hidden;}
    main>.intro_p>h2>span:nth-of-type(2){margin-right: 3.385vw;}
    main>.intro_p>h2>span>i{display: inline-block; font-size: 11.458vw; font-style: normal; margin-top: -3.906vw; transform: translateY(370px);}

    main>.intro_p>dl{position: relative; width: 100%;}
    main>.intro_p>dl:after{content: ""; display: block; clear: both;}
    main>.intro_p>dl>dt{width: 100%; font-size: 2.083vw; margin-bottom: 1.042vw;}
    main>.intro_p>dl>dd:first-of-type{font-size: 1.042vw; line-height: 1.5;}
    main>.intro_p>dl>dd:nth-of-type(2)>a{position: absolute; right: 0; bottom: 3.2vw; padding: 0.260vw 1.042vw; border: 0.052vw solid #333; border-radius: 3.125vw; font-size: 1.250vw; font-family: "DM Serif Display"; cursor: pointer; transition: all 0.3s ease 0s;}
    main>.intro_p>dl>dd:last-of-type>a{position: absolute; right: 0; bottom: 0; padding: 0.260vw 2.192vw;; border: 0.052vw solid #333; border-radius: 3.125vw; font-size: 1.250vw; font-family: "DM Serif Display"; cursor: pointer; transition: all 0.3s ease 0s;}
    main>.intro_p>dl>dd:last-of-type>a:hover,main>.intro_p>dl>dd:nth-of-type(2)>a:hover{background: #333333; color: #ffffff;}

    main>.intro_d_p>.intro_d_p_inner>.i_detail{width: 100%;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail:after{content: ""; display: block; clear: both;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail>dl{position: relative; float: left; color: #ffffff; margin-right: 6vw;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail>dl:last-of-type{margin-right: 0;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail>dl>dt{margin-bottom: 1.563vw; font-size: 0.938vw; font-family: "NanumBarunGothic"; font-weight: 700;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail>dl>dd{margin-top: 2.813vw; font-size: 0.883vw; font-weight: 200;}

    main>.intro_d_p>.intro_d_p_inner>.mockup_box{position: relative; width: 100%; height: 30vw; margin-top: -2.825vw;}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_01{position: absolute; left: 14.7vw; bottom: 1%; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_01>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_splash.png) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_02{z-index: 2; position: absolute; bottom: -15%; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_02>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_main.png) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_03{position: absolute; bottom: -10%; right: 0; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_03>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_sub.jpg) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_04{position: absolute; bottom: -25%; right: 14.7vw; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_04>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_sub2.jpg) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

    main>.detail_p{margin-top: 8.854vw;}
    main>.detail_p>h3{width: 100%;}
    main>.detail_p>h3>span{display: inline-block; height: 5.990vw; overflow: hidden;}
    main>.detail_p>h3>span>i{display: inline-block; margin-top: -2.344vw; font-size: 7.292vw; font-style: normal; transform: translateY(150px);}

    main>.detail_p>div{position: relative; width: 100%; margin-top: 7.813vw; transform: translateY(150px); opacity: 0;}
    main>.detail_p>div>h4{font-size: 4.167vw;}
    main>.detail_p>div>p:first-of-type{font-size: 1.563vw; font-weight: bold;}
    main>.detail_p>div>p:last-of-type{font-size: 1.302vw; line-height: 1.5;}
    main>.detail_p>div>.img_box{width: 100%; margin-top: 7vw;}

    
    main>.detail_p>div.overview>.img_box>span{display: block; width: 100%; height: 22.465vw; background: url(../images/img_ww_detail_overview.png) no-repeat 0 0; background-size: 100%; background-size: 100%;}
    main>.detail_p>div.persona>.img_box>span{display: block; width: 100%; height: 41.26vw; background: url(../images/img_ww_detail_persona.png) no-repeat 0 0; background-size: 100%;}


    main>.detail_p>div.task{margin-top: 11.979vw;}
    main>.detail_p>div.task>h4{line-height: 0.9;}
    main>.detail_p>div.task>p{margin-top: 1.042vw;}

    main>.detail_p>div.task>.img_box>span{display: block; width: 100%; height: 25.6vw; margin-top: -1.563vw; background: url(../images/img_ww_detail_task.png) no-repeat 0 0; background-size: 100%;}


    main>.detail_p>div.wire{margin-top: 11.979vw;}
    main>.detail_p>div.wire>.img_box>span{display: block; width: 100%; height: 53vw; background: url(../images/img_ww_detail_wire.png) no-repeat 0 0; background-size: 100%;}
    

    /* footer */
    footer>p{font-size: 3.125vw; font-family: "DM Serif Display"; opacity: 0.5; transition: all 0.3s ease 0s; cursor: pointer;}
    footer>p:first-of-type{float: left;}
    footer>p:nth-of-type(2){margin-left: 16.188vw; float: left;}
    footer>p:last-of-type{float: right;}

    footer>p:hover{opacity: 1;}

    /* dark mode */
    body.dark main>.intro_p>dl>dd:nth-of-type(2)>a{border-color:#fff;}
    body.dark main>.intro_p>dl>dd:last-of-type>a{border-color:#fff;}
    body.dark main>.intro_p>dl>dd:last-of-type>a:hover,body.dark main>.intro_p>dl>dd:nth-of-type(2)>a:hover{background: #fff; color: #112a63;}
    body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_01{border-color: #112A63;}
    body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_02{border-color: #112A63;}
    body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_03{border-color: #112A63;}
    body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_04{border-color: #112A63;}
    body.dark main>.detail_p>div.overview>.img_box>span{background: url(../images/img_ww_detail_overview_white.png) no-repeat 0 0; background-size: 100%;}
    body.dark main>.detail_p>div.persona>.img_box>span{background: url(../images/img_ww_detail_persona_white.png) no-repeat 0 0; background-size: 100%;}
    body.dark main>.detail_p>div.task>.img_box>span{background: url(../images/img_ww_detail_task_white.png) no-repeat 0 0; background-size: 100%;}
    body.dark main>.detail_p>div.wire>.img_box>span{background: url(../images/img_ww_detail_wire_white.png) no-repeat 0 0; background-size: 100%;}
    body.dark footer{border-top-color:#fff;}

}/* 1024px ~ 1599px - laptop */

@media (min-width: 768px) and (max-width: 1023px){
    /* layout */
    .wrap{width: 100%; margin: 0 auto;}
        header{width: 80vw; height: 2.604vw; margin: 2.604vw auto 0; opacity: 0; padding: 0 2.083vw; box-sizing: border-box;}
        main{width: 100%;}
            main>.intro_p{width: 80vw; margin: 0 auto; padding: 0 2.083vw; box-sizing: border-box;}
            main>.intro_d_p{width: 100%; background: rgba(105,150,254,0.7); margin-top: 3.646vw;}
                main>.intro_d_p>.intro_d_p_inner{width: 80vw; margin: 0 auto; padding: 4.083vw 2.083vw; box-sizing: border-box;}
            main>.detail_p{width: 80vw; margin: 0 auto; padding: 0 2.083vw; box-sizing: border-box;}
        footer{width: 80vw; height: 5.208vw; margin: 17.813vw auto 10.208vw; border-top: 0.260vw solid #333333; padding: 1.823vw 2.083vw 0; box-sizing: border-box; transform: translateY(150px); opacity: 0;}
        footer:after{content: ""; display: block; clear: both;}

    /* header */
    header>h1{font-size: 4.344vw;}

    /* main */
    main .up_ani{transform: translateY(150px); opacity: 0;}

    main>.intro_p>h2{margin: 10.746vw 0 4.904vw;}
    main>.intro_p>h2>span{display: inline-block; height: 14.138vw; overflow: hidden;}
    main>.intro_p>h2>span:nth-of-type(2){margin-right: 3.385vw;}
    main>.intro_p>h2>span>i{display: inline-block; font-size: 15.458vw; font-style: normal; margin-top: -3.906vw; transform: translateY(370px);}

    main>.intro_p>dl{position: relative; width: 100%;}
    main>.intro_p>dl:after{content: ""; display: block; clear: both;}
    main>.intro_p>dl>dt{width: 100%; font-size: 3.083vw; margin-bottom: 2.742vw;}
    main>.intro_p>dl>dd:first-of-type{font-size: 1.742vw; line-height: 1.5;}
    main>.intro_p>dl>dd:nth-of-type(2)>a{position: absolute; right: 0; bottom: 5.2vw; padding: 0.560vw 1.542vw; border: 0.052vw solid #333; border-radius: 3.125vw; font-size: 1.950vw; font-family: "DM Serif Display"; cursor: pointer; transition: all 0.3s ease 0s;}
    main>.intro_p>dl>dd:last-of-type>a{position: absolute; right: 0; bottom: 0; padding: 0.560vw 3.32vw;; border: 0.052vw solid #333; border-radius: 3.125vw; font-size: 1.950vw; font-family: "DM Serif Display"; cursor: pointer; transition: all 0.3s ease 0s;}
    main>.intro_p>dl>dd:last-of-type>a:hover,main>.intro_p>dl>dd:nth-of-type(2)>a:hover{background: #333333; color: #ffffff;}

    main>.intro_d_p>.intro_d_p_inner>.i_detail{width: 100%;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail:after{content: ""; display: block; clear: both;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail>dl{position: relative; float: left; color: #ffffff; margin-right: 5.7vw;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail>dl:last-of-type{margin-right: 0;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail>dl>dt{margin-bottom: 1.563vw; font-size: 1.638vw; font-family: "NanumBarunGothic"; font-weight: 700;}
    main>.intro_d_p>.intro_d_p_inner>.i_detail>dl>dd{margin-top: 2.813vw; font-size: 1.283vw; font-weight: 200;}

    main>.intro_d_p>.intro_d_p_inner>.mockup_box{position: relative; width: 100%; height: 42vw; margin-top: -3.825vw;}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_01{position: absolute; left: 20.3vw; bottom: 1%; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_01>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_splash.png) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_02{z-index: 2; position: absolute; bottom: -15%; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_02>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_main.jpg) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_03{position: absolute; bottom: -10%; right: 0; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_03>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_sub.jpg) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_04{position: absolute; bottom: -25%; right: 20.3vw; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
    main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_04>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_sub2.jpg) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

    main>.detail_p{margin-top: 8.854vw;}
    main>.detail_p>h3{width: 100%;}
    main>.detail_p>h3>span{display: inline-block; height: 5.990vw; overflow: hidden;}
    main>.detail_p>h3>span>i{display: inline-block; margin-top: -2.344vw; font-size: 7.292vw; font-style: normal; transform: translateY(150px);}

    main>.detail_p>div{position: relative; width: 100%; margin-top: 7.813vw; transform: translateY(150px); opacity: 0;}
    main>.detail_p>div>h4{font-size: 5.167vw;}
    main>.detail_p>div>p{font-size: 2.7vw; font-weight: bold;}
    main>.detail_p>div>.img_box{width: 100%; margin-top: 7vw;}

    
    main>.detail_p>div.overview>.img_box>span{display: block; width: 100%; height: 31vw; background: url(../images/img_ww_detail_overview.png) no-repeat 0 0; background-size: 100%;}

    
    main>.detail_p>div.persona>p:first-of-type{font-size: 2.7vw; font-weight: bold;}
    main>.detail_p>div.persona>p:last-of-type{font-size: 2vw; line-height: 1.5; margin-top: 0.5vw; font-weight: 400;}
    main>.detail_p>div.persona>.img_box>span{display: block; width: 100%; height: 56vw; background: url(../images/img_ww_detail_persona.png) no-repeat 0 0; background-size: 100%;}


    main>.detail_p>div.task{margin-top: 11.979vw;}
    main>.detail_p>div.task>h4{line-height: 0.9;}
    main>.detail_p>div.task>p{margin-top: 1.042vw;}

    main>.detail_p>div.task>.img_box>span{display: block; width: 100%; height: 30vw; margin-top: -1.563vw; background: url(../images/img_ww_detail_task.png) no-repeat 0 0; background-size: 100%;}


    main>.detail_p>div.wire{margin-top: 11.979vw;}
    main>.detail_p>div.wire>.img_box>span{display: block; width: 100%; height: 67vw; background: url(../images/img_ww_detail_wire.png) no-repeat 0 0; background-size: 100%;}
    

    /* footer */
    footer>p{font-size: 5.125vw; font-family: "DM Serif Display"; opacity: 0.5; transition: all 0.3s ease 0s; cursor: pointer;}
    footer>p:first-of-type{float: left;}
    footer>p:nth-of-type(2){margin-left: 17.188vw; float: left;}
    footer>p:last-of-type{float: right;}

    footer>p:hover{opacity: 1;}  
    
    /* dark mode */
    body.dark main>.intro_p>dl>dd:nth-of-type(2)>a{border-color:#fff;}
    body.dark main>.intro_p>dl>dd:last-of-type>a{border-color:#fff;}
    body.dark main>.intro_p>dl>dd:last-of-type>a:hover,body.dark main>.intro_p>dl>dd:nth-of-type(2)>a:hover{background: #fff; color: #112a63;}
    body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_01{border-color: #112A63;}
    body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_02{border-color: #112A63;}
    body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_03{border-color: #112A63;}
    body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_04{border-color: #112A63;}
    body.dark main>.detail_p>div.overview>.img_box>span{background: url(../images/img_ww_detail_overview_white.png) no-repeat 0 0; background-size: 100%;}
    body.dark main>.detail_p>div.persona>.img_box>span{background: url(../images/img_ww_detail_persona_white.png) no-repeat 0 0; background-size: 100%;}
    body.dark main>.detail_p>div.task>.img_box>span{background: url(../images/img_ww_detail_task_white.png) no-repeat 0 0; background-size: 100%;}
    body.dark main>.detail_p>div.wire>.img_box>span{background: url(../images/img_ww_detail_wire_white.png) no-repeat 0 0; background-size: 100%;}
    body.dark footer{border-top-color:#fff;}

}/* 768px ~ 1023px - tablet */

@media (max-width: 767px){
/* layout */
.wrap{width: 100%; margin: 0 auto;}
header{width: 80vw; height: 2.604vw; margin: 2.604vw auto 0; opacity: 0; padding: 0 2.083vw; box-sizing: border-box;}
main{width: 100%;}
    main>.intro_p{width: 80vw; margin: 0 auto; padding: 0 2.083vw; box-sizing: border-box;}
    main>.intro_d_p{width: 100%; background: rgba(105,150,254,0.7); margin-top: 9.646vw;}
        main>.intro_d_p>.intro_d_p_inner{width: 80vw; margin: 0 auto; padding: 9.083vw 2.083vw; box-sizing: border-box;}
    main>.detail_p{width: 80vw; margin: 0 auto; padding: 0 2.083vw; box-sizing: border-box;}
footer{width: 80vw; height: 5.208vw; margin: 17.813vw auto 15.208vw; border-top: 0.260vw solid #333333; padding: 1.823vw 2.083vw 0; box-sizing: border-box; transform: translateY(150px); opacity: 0;}
footer:after{content: ""; display: block; clear: both;}

/* header */
header>h1{font-size: 4.344vw;}

/* main */
main .up_ani{transform: translateY(150px); opacity: 0;}

main>.intro_p>h2{margin: 10.746vw 0 4.904vw;}
main>.intro_p>h2>span{display: inline-block; height: 21.038vw; overflow: hidden;}
main>.intro_p>h2>span:nth-of-type(2){margin-right: 3.385vw;}
main>.intro_p>h2>span>i{display: inline-block; font-size: 20.458vw; font-style: normal; margin-top: -3.906vw; transform: translateY(370px);}

main>.intro_p>dl{position: relative; width: 100%;}
main>.intro_p>dl:after{content: ""; display: block; clear: both;}
main>.intro_p>dl>dt{width: 100%; font-size: 4.083vw; margin-bottom: 3.542vw;}
main>.intro_p>dl>dd:first-of-type{font-size: 2.242vw; line-height: 1.5;}
main>.intro_p>dl>dd:nth-of-type(2)>a{float: left; display: block; margin: 5.604vw 3.054vw 0 0; padding: 0.560vw 1.542vw; border: 0.152vw solid #333; border-radius: 3.125vw; font-size: 2.950vw; font-family: "DM Serif Display"; cursor: pointer; transition: all 0.3s ease 0s;}
main>.intro_p>dl>dd:last-of-type>a{float: left; z-index: 1; position: relative; display: inline-block; margin-top: 5.604vw; padding: 0.560vw 4.25vw; border: 0.152vw solid #333; border-radius: 3.125vw; font-size: 2.950vw; font-family: "DM Serif Display"; cursor: pointer; transition: all 0.3s ease 0s;}
main>.intro_p>dl>dd:last-of-type>a:hover ,main>.intro_p>dl>dd:nth-of-type(2)>a:hover{background: #333333; color: #ffffff;}

main>.intro_d_p>.intro_d_p_inner>.i_detail{width: 100%;}
main>.intro_d_p>.intro_d_p_inner>.i_detail:after{content: ""; display: block; clear: both;}
main>.intro_d_p>.intro_d_p_inner>.i_detail>dl{position: relative; width: 42%; height: 12.055vw; color: #ffffff; margin-bottom: 7.002vw;}
main>.intro_d_p>.intro_d_p_inner>.i_detail>dl:nth-of-type(1){float: left;}
main>.intro_d_p>.intro_d_p_inner>.i_detail>dl:nth-of-type(2){float: right;}
main>.intro_d_p>.intro_d_p_inner>.i_detail>dl:nth-of-type(3){float: left;}
main>.intro_d_p>.intro_d_p_inner>.i_detail>dl:nth-of-type(4){float: right;}

main>.intro_d_p>.intro_d_p_inner>.i_detail>dl>dt{font-size: 2.638vw; font-family: "NanumBarunGothic"; font-weight: 700;}
main>.intro_d_p>.intro_d_p_inner>.i_detail>dl>dd{position: absolute; bottom: 0; left: 0; font-size: 1.883vw; font-weight: 200;}
main>.intro_d_p>.intro_d_p_inner>.i_detail>dl:first-of-type>dd{margin-top: 1.013px;}

main>.intro_d_p>.intro_d_p_inner>.mockup_box{position: relative; width: 100%; height: 42vw; margin-top: -10.825vw;}
main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_01{position: absolute; left: 20vw; bottom: 1%; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_01>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_splash.png) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_02{z-index: 2; position: absolute; bottom: -15%; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_02>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_main.png) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_03{position: absolute; bottom: -10%; right: 0; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_03>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_sub.jpg) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_04{position: absolute; bottom: -25%; right: 20vw; width: 20%; height: 75%; border: 0.469vw solid #333333; border-radius: 1.563vw; box-sizing: border-box; box-shadow: 17px 17px 25px rgba(0,0,0,0.2);}
main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_04>span{display: block; width: 100%; height: 100%; background: url(../images/img_ww_sub2.jpg) no-repeat 50% 0.5%; background-size: cover; border-radius: 1.094vw;}

main>.detail_p{margin-top: 8.854vw;}
main>.detail_p>h3{width: 100%;}
main>.detail_p>h3>span{display: inline-block; height: 10.990vw; overflow: hidden;}
main>.detail_p>h3>span>i{display: inline-block; margin-top: -2.344vw; font-size: 12.292vw; font-style: normal; transform: translateY(150px);}

main>.detail_p>div{position: relative; width: 100%; margin-top: 7.813vw; transform: translateY(150px); opacity: 0;}
main>.detail_p>div>h4{font-size: 7.167vw;}
main>.detail_p>div>p{font-size: 4vw; font-weight: bold; margin-top: 0.5vw;}
main>.detail_p>div>.img_box{width: 100%; margin-top: 7vw;}


main>.detail_p>div.overview>.img_box>span{display: block; width: 100%; height: 31vw; background: url(../images/img_ww_detail_overview.png) no-repeat 0 0; background-size: 100%;}


main>.detail_p>div.persona>p:first-of-type{font-size: 4vw; font-weight: bold;}
main>.detail_p>div.persona>p:last-of-type{font-size: 3vw; line-height: 1.5; margin-top: 0.5vw; font-weight: 400;}
main>.detail_p>div.persona>.img_box>span{display: block; width: 100%; height: 56vw; background: url(../images/img_ww_detail_persona.png) no-repeat 0 0; background-size: 100%;}


main>.detail_p>div.task{margin-top: 11.979vw;}
main>.detail_p>div.task>h4{line-height: 0.9;}
main>.detail_p>div.task>p{margin-top: 1.042vw;}

main>.detail_p>div.task>.img_box>span{display: block; width: 100%; height: 30vw; margin-top: -1.563vw; background: url(../images/img_ww_detail_task.png) no-repeat 0 0; background-size: 100%;}


main>.detail_p>div.wire{margin-top: 11.979vw;}
main>.detail_p>div.wire>.img_box>span{display: block; width: 100%; height: 67vw; background: url(../images/img_ww_detail_wire.png) no-repeat 0 0; background-size: 100%;}

/* footer */
footer>p{font-size: 7.125vw; font-family: "DM Serif Display"; opacity: 0.5; transition: all 0.3s ease 0s; cursor: pointer;}
footer>p:first-of-type{float: left;}
footer>p:nth-of-type(2){margin-left: 10.188vw; float: left;}
footer>p:last-of-type{float: right;}

footer>p:hover{opacity: 1;}   

/* dark mode */
body.dark main>.intro_p>dl>dd:nth-of-type(2)>a{border-color:#fff;}
body.dark main>.intro_p>dl>dd:last-of-type>a{border-color:#fff;}
body.dark main>.intro_p>dl>dd:last-of-type>a:hover,body.dark main>.intro_p>dl>dd:nth-of-type(2)>a:hover{background: #fff; color: #112a63;}
body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_01{border-color: #112A63;}
body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_02{border-color: #112A63;}
body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_03{border-color: #112A63;}
body.dark main>.intro_d_p>.intro_d_p_inner>.mockup_box>.mockup_04{border-color: #112A63;}
body.dark main>.detail_p>div.overview>.img_box>span{background: url(../images/img_ww_detail_overview_white.png) no-repeat 0 0; background-size: 100%;}
body.dark main>.detail_p>div.persona>.img_box>span{background: url(../images/img_ww_detail_persona_white.png) no-repeat 0 0; background-size: 100%;}
body.dark main>.detail_p>div.task>.img_box>span{background: url(../images/img_ww_detail_task_white.png) no-repeat 0 0; background-size: 100%;}
body.dark main>.detail_p>div.wire>.img_box>span{background: url(../images/img_ww_detail_wire_white.png) no-repeat 0 0; background-size: 100%;}
body.dark footer{border-top-color:#fff;}

}/* ~ 767px - mobile */