@charset "utf-8";
@import url(reset.css);
/* main.css */

/* section1 */
body{width: 100%; height: 100%; font-family: 'Roboto'; color: #001F3E;}
div.wrap{position: relative; width: 375px; height: 812px; overflow: hidden; box-sizing: border-box;}
a{color: #001F3E; text-decoration: none;}
/* 탑메뉴 */
.top_menu{z-index: 2; position: absolute; width: 100%; height: 28px; top: 45px; display: flex; justify-content: space-between; padding: 0 16px; box-sizing: border-box;}
.top_menu dd{cursor: pointer;}

div.wrap div.fixed{z-index: -1; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7);}
div.wrap.on div.fixed{z-index: 3;}

/* item_box */
.wrap .item_box{width: 100%; height: 100%; position: absolute; top: 0; left: 0; box-sizing: border-box;}

.item_box h2{position: absolute; top: 135px; left: 16px; width: 100%; font-size: 15px; color: #fff; font-weight: 300; letter-spacing: 0.5px;}

.item_box ul{position: absolute; left: 65px; top: 160px; font-size: 48px; font-weight: bold; color: #fff; transform: rotate(90deg);}
.item_box ul li{position: absolute; opacity: 0;}
.item_box ul li.on{opacity: 1;}

div.roll{position: absolute; width: 120px; left: 65px; top: 232px;;}
div.roll a{display: inline-block; width: 12px; height: 12px; background: #fff; border-radius: 6px; opacity: 0.6; text-indent: -999px; overflow: hidden; margin-right: 2px; transition: all 0.3s ease 0s;}
div.roll a.on{width: 20px; opacity: 1;}

/* 이미지 */
.bg{position: absolute; left: 0; top: 0; display: flex; width: 375px; height: 600px; transition: all 0.3s ease 0s;}
.bg img:nth-child(2){height: 812px;}
.bg img:nth-child(3){width: 569px; height: 1232px; max-width: none; margin-top: -406px;}

/* 오늘의 날씨 */
.t_W{position: absolute; left: 0; top: 520px; width: 100%; height: 291px; background: #fff; border-radius: 25px; padding: 12px 16px; box-sizing: border-box; cursor: pointer;}

.t_W>a>ul{position: relative; left: 59px; top: 22px; float: left; width: 130px; height: 80px; opacity: 0; animation: cloud_s 2s linear 0s forwards 1}
.t_W>a>ul>li{z-index: 2; position: absolute;}
.t_W>a>ul>li:nth-child(1){left: 0px; top: 0;}
.t_W>a>ul>li:nth-child(2){left: -31px; top: 0; animation: cloud 1.5s linear 0s alternate infinite}
.t_W>a>ul>li:nth-child(3){z-index: 1; left: 24px; top: -7px;  animation: cloud 2.5s linear 0s alternate infinite}
.t_W>a>ul>li:nth-child(4){left: -31px; top: 42px;  animation: cloud2 2s linear 0s alternate infinite}

@keyframes cloud_s{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes cloud{
	0%{transform: translateX(5px);}
	100%{transform: translateX(-5px);}
}

@keyframes cloud2{
	0%{transform: translateX(-5px);}
	100%{transform: translateX(5px);}
}

.t_W>a>em{position: absolute; left: 205px; font-size: 15px; font-weight: 500; animation: cloud3 0.5s linear 3s 1 forwards; opacity: 0;}

@keyframes cloud3{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
.t_W>a>ol{position: absolute; left: 205px; top: 50px;}
.t_W>a>ol:first-of-type{display: flex;}
.t_W>a>ol:first-of-type>li:first-child{}
.t_W>a>ol:first-of-type>li:first-child>span{position: relative; top: 17px; display: block; width: 42px; height:55px; overflow: hidden;}
.t_W>a>ol:first-of-type>li:first-child>span>ol{font-size: 69px; margin-top: -18px; font-weight: bold;}

.t_W>a>ol:first-of-type>li:last-child>span{position: relative; top: 13px; display: block; width: 42px; height:62px; overflow: hidden;}
.t_W>a>ol:first-of-type>li:last-child>span>ol{font-size: 69px; margin-top: -14px; font-weight: bold;}
.t_W>a>ol:first-of-type>li>span>ol>li>i{position: absolute; top: 10px; right: 2px; display: inline-block; width: 8px; height: 8px; background: #001f3e; border-radius: 50%;}

.t_W>a>ol:last-of-type{position: absolute; left: 305px;}

.t_W>a>ol:last-of-type>li>span{position: relative; left: 3px; top: 28px; display: block; width: 38px; height:45px; overflow: hidden;}
.t_W>a>ol:last-of-type>li>span>ol{font-size: 49px; font-weight: bold; margin-top: -28px; opacity: 0.5;}
.t_W>a>ol:last-of-type>li>span>ol>li>i{position: absolute; top: 8px; right: 5px; display: inline-block; width: 5px; height: 5px; background: #001f3e; border-radius: 50%;}

.t_W>a>ol:last-of-type>em{position: absolute; top: 33px; left: -14px; display: inline-block; width: 4px; height: 40px; background: #001f3e; border-radius: 8px; transform: rotate(10deg); margin:0 5px; opacity: 0.5;}


/* 위치 정보 */
.t_W>.location{position: absolute; left: 0; top: 175px; width: 100%; height:  117px; background: #6996FE; padding: 47px 16px 0; box-sizing: border-box;}
.t_W>.location p{float: left; line-height: 15px; background: url(../images/ico_location.png) no-repeat 0 0; padding-left: 17px;}
.t_W>.location p span{font-size: 20px; font-weight: bold;}
.t_W>.location p em{font-size: 11px;}

.t_W>.location a{display: inline-block; float: right; margin-top: 2px;}

/* 날씨 디테일 */
.t_D{position: absolute; left: 0; top: 665px; width: 100%; height: 60px; background: #fff; border-radius: 30px; box-shadow: 0 -2px 5px rgba(0,0,0,0.2); box-sizing: border-box; display: flex; align-items: center; justify-content: space-around; padding: 0 14px;}
.t_D>span{position: absolute; top: 7px; left: 18px; width: 11px; height: 3px; background: #FF785B; border-radius: 3px; text-indent: -9999px; overflow: hidden; transition: all 0.3s ease 0s;}

.t_D>ul{text-align: center; float: left; display: inline-block; width: 70px;}
.t_D>ul:first-of-type{margin-left: -5px;}
.t_D>ul>li{float: left; box-sizing: border-box; font-size: 12px;}
.t_D>ul>li:first-child{width: 100%; margin-bottom: 1px; font-weight: 500;}
.t_D>ul>li:last-child{position: relative; width: 100%; color: #6996fe; font-size: 17px; font-weight: bold;}
.t_D>ul>li:last-child img{vertical-align: middle; padding-right: 3px; box-sizing: border-box; margin-bottom: 3px;}
.t_D>ul>li:last-child span{font-size: 13px;}
.t_D>ul:first-of-type>li:last-child span{position: absolute; left: 51px; top: 0; display: inline-block; width: 3px; height: 3px; background: #6996fe; border-radius: 3px;}

/* section2 */
.location_p{z-index: 4; position: absolute; top: 812px; left: 0; width: 100%; height: 768px; background: #DEE8FF; border-radius: 25px 25px 0 0; transition: all 0.5s ease 0s;}
.location_p.on{top: 44px;}

/* 제목 닫기 */
.off{width: 100%; height: 45px; display: flex; align-items: center; box-sizing: border-box; justify-content: space-between; padding: 0 16px;}
.off p{font-size: 20px; font-weight: bold; background: url(../images/ico_location.png) no-repeat 0 60%; text-indent: 18px;}
.off p span{font-size: 20px; font-weight: 300; margin-right: 5px;}
.off a img{transform: rotateZ(180deg);}

/* 위치 리스트 */
.loc_list{position: relative; width: 100%; height: 723px; background: #6996fe; border-radius: 25px 25px 0 0; display: flex; flex-direction: column; align-items: center; justify-content: flex-start; padding-top: 20px;}

.loc_list article{display: flex; width: 343px; height: 50px; background: #fff; border-radius: 50px; align-items: center; justify-content: space-around; margin-bottom: 20px;}

.loc_list article h3{font-size: 15px; font-weight: bold; line-height: 12px; margin-top: 3px;}
.loc_list article h3 span{font-size: 9px; font-weight: normal;}

.loc_list article>img{transform: translateX(20px)}
.loc_list article:first-child>img{transform: translateX(12px)}
.loc_list article:nth-child(2)>img{transform: translateX(14px)}

.loc_list article p{position: relative; font-size: 20px; font-weight: bold;}
.loc_list article:nth-child(1) p{transform: translateX(-7px)}
.loc_list article:nth-child(1) p em{transform: translateX(12px)}
.loc_list article:nth-child(2) p{transform: translateX(-7px)}
.loc_list article:nth-child(2) p em{transform: translateX(12px)}
.loc_list article:nth-child(4) p{transform: translateX(-2px)}
.loc_list article:nth-child(4) p em{transform: translateX(9px)}
.loc_list article p span{position: absolute; top: 0; display: inline-block; width: 3px; height: 3px; background: #001F3E; border-radius: 3px;}
.loc_list article p>em{display: inline-block; position: relative; font-weight: bold; margin-left: 10px; opacity: 0.5;}

/* 위치 추가 */
.loc_list>a{position: absolute; top: 572px;}


/* 드로워 */
.drawer{z-index: 4; position: absolute; right: -260px; top: 0; width: 260px; height: 100%; background: #6996fe; border-radius: 25px 0 25px 0; transition: all 0.3s ease 0s;}

.drawer.on{right: 0;}

.my_info{width: 100%; height: 245px; display: flex; flex-direction: column; justify-content: center;}
.my_info dl{width: 100%; height: 45px; display: flex; justify-content: space-between; padding: 0 16px; box-sizing: border-box; align-items: center; margin: 45px 0 16px;}
.my_info dl dd{position: relative; cursor: pointer;}
.my_info dl dd:last-of-type:after{position: absolute; left: -5px; top: -2px; content: "3"; display: inline-block; width: 11px; height: 11px; background: #FF785B; border-radius: 11px; font-size: 9px; color: #fff; text-align: center; line-height: 11px;}

.my_info p{width: 100%; height: 67px; padding: 0 16px; box-sizing: border-box; color: #fff;;}
.my_info p img{float:left; margin: 0 14px 0 25px; box-shadow: 0 5px 7px rgba(0,0,0,0.5); border-radius: 33px;}
.my_info p span{display: inline-block; font-size: 20px; font-weight: bold; margin-top: 30px;}
.my_info p em{display: inline-block; font-size: 10px; transform: translateY(-5px);}

.my_info ul{width: 100%; display: flex; text-align: center; justify-content: center; align-items: center; box-sizing: border-box; margin: 20px 0 15px;}
.my_info ul li{display: flex; flex-direction: column; margin: 0 15px;}
.my_info ul li em{font-size: 11px;}
.my_info ul li strong{font-size: 21px; font-weight: bold; color: #fff;}


.navi_menu{position: relative; width: 100%; height: 567px; background: #fff; border-radius: 25px 0 0 0; display: flex; flex-direction: column; justify-content: space-between; padding: 16px 16px 100px; box-sizing: border-box;}
.navi_menu h2{font-size: 20px; font-weight: 1000;}

.navi_menu nav ul{display: flex; flex-direction: row; justify-content: center;; padding: 23px 0 34px;}
.navi_menu nav ul li{font-size: 11px; width: 55px; display: flex; flex-direction: column; justify-content: center; text-align: center;}
.navi_menu nav ul li img{width: 35px; height: 35px; margin-bottom: 7px;}

.navi_menu p{position: absolute; bottom: 20px; right: 25px; width: 55px; height: 18px; font-size: 11px; background: #dee8ff; text-align: center; line-height: 18px; border-radius: 18px;}

.navi_menu .snb h2{width: 100%; margin-bottom: 15px;}

.navi_menu .snb>ul>li{}
.navi_menu .snb>ul>li>span{display: block; width:100%; height: 23px; background: #DEE8FF; margin-bottom: 5px; line-height: 23px; border-radius: 25px; font-size: 12px; padding-left: 16px; box-sizing: border-box;}

.navi_menu .snb>ul>li>ul{width: 100%; padding-left: 35px; box-sizing: border-box; margin-top: 10px; margin-bottom: 12px;}
.navi_menu .snb>ul>li>ul>li>a{display: block; font-size: 15px; padding: 5px 0; box-sizing: border-box; background: url(../images/ico_nav_go.png) no-repeat 90% 50%;}

.navi_menu .snb>ul>li:nth-child(2)>ul>li>a{background: none;}
.navi_menu .snb>ul>li:nth-child(2)>ul>li:first-child span,.navi_menu .snb>ul>li:nth-child(2)>ul>li:last-child span{position: relative; display: inline-block; width: 26px; height: 12px; margin-left: 77px; background: #788091; border-radius: 12px; transition: all 0.3s ease 0s;}
.navi_menu .snb>ul>li:nth-child(2)>ul>li:first-child span:after,.navi_menu .snb>ul>li:nth-child(2)>ul>li:last-child span:after{position: absolute; left: 2px; top: 50%; transform: translateY(-50%); content: ""; display: block; width: 8px; height: 8px; background: #fff; border-radius: 4px; transition: all 0.3s ease 0s;}
.navi_menu .snb>ul>li:nth-child(2)>ul>li:last-child span{margin-left: 39px;}


.navi_menu .snb>ul>li:nth-child(2)>ul>li span.on:after{left: 16px;}
.navi_menu .snb>ul>li:nth-child(2)>ul>li span.on{background: #6996fe;}


.navi_menu .snb>ul>li:nth-child(3)>ul>li:last-child a{background: none;}
.navi_menu .snb>ul>li:nth-child(3)>ul>li:last-child span{display: inline-block; margin-left: 85px;}


.tab_menu{position:absolute; top: 639px; left: 50%; transform: translateX(-50%); width: 343px; height: 45px; background: #6996fe; border-radius: 45px; box-shadow: 0 3px 6px rgba(0,0,0,0.2); display: flex; justify-content: space-around; align-items: center;}
.tab_menu dd a{display: block; width: 65px; height: 26px; text-indent: -9999px; overflow: hidden; transition: all 0.3s ease 0s;}
.tab_menu dd:nth-of-type(1) a{background: url(../images/ico_tabmenu1.png) no-repeat 50% 0;}
.tab_menu dd:nth-of-type(2) a{background: url(../images/ico_tabmenu2.png) no-repeat 50% 0;}
.tab_menu dd:nth-of-type(3) a{background: url(../images/ico_tabmenu3.png) no-repeat 50% 0;}
.tab_menu dd:nth-of-type(4) a{background: url(../images/ico_tabmenu4.png) no-repeat 50% 0;}
.tab_menu dd:nth-of-type(5) a{background: url(../images/ico_tabmenu5.png) no-repeat 50% 0;}


.tab_menu dd a.on{background-position: 50% 100%;}






