@charset "utf-8";   
@import url(reset.css);
@import url(tab_menu.css);
/* map.css */

/* common */
body{width: 100%; height: 100%; font-family: Roboto; color: #100f3e;}
a{text-decoration: none; font-family: Roboto; color: #100f3e;}
div.wrap{position: relative; width: 375px; height: 812px;}

div.wrap div.fixed{z-index: -1; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.0);}
div.wrap.on div.fixed{z-index: 3; background: rgba(0,0,0,0.7);}

/* 드로워 */
.drawer{z-index: 4; position: absolute; right: -260px; top: 0; width: 260px; height: 100%; background: #6996fe; border-radius: 25px 0 25px 0; transition: all 0.3s ease 0s;}

.drawer.on{right: 0;}

.my_info{width: 100%; height: 245px; display: flex; flex-direction: column; justify-content: center;}
.my_info dl{width: 100%; height: 45px; display: flex; justify-content: space-between; padding: 0 16px; box-sizing: border-box; align-items: center; margin: 45px 0 16px;}
.my_info dl dd{position: relative; cursor: pointer;}
.my_info dl dd:last-of-type:after{position: absolute; left: -5px; top: -2px; content: "3"; display: inline-block; width: 11px; height: 11px; background: #FF785B; border-radius: 11px; font-size: 9px; color: #fff; text-align: center; line-height: 11px;}

.my_info p{width: 100%; height: 67px; padding: 0 16px; box-sizing: border-box; color: #fff;;}
.my_info p img{float:left; margin: 0 14px 0 25px; box-shadow: 0 5px 7px rgba(0,0,0,0.5); border-radius: 33px;}
.my_info p span{display: inline-block; font-size: 20px; font-weight: bold; margin-top: 30px;}
.my_info p em{display: inline-block; font-size: 10px; transform: translateY(-5px);}

.my_info ul{width: 100%; display: flex; text-align: center; justify-content: center; align-items: center; box-sizing: border-box; margin: 20px 0 15px;}
.my_info ul li{display: flex; flex-direction: column; margin: 0 15px;}
.my_info ul li em{font-size: 11px;}
.my_info ul li strong{font-size: 21px; font-weight: bold; color: #fff;}


.navi_menu{position: relative; width: 100%; height: 567px; background: #fff; border-radius: 25px 0 0 0; display: flex; flex-direction: column; justify-content: space-between; padding: 16px 16px 100px; box-sizing: border-box;}
.navi_menu h2{font-size: 20px; font-weight: 1000;}

.navi_menu nav ul{display: flex; flex-direction: row; justify-content: center;; padding: 23px 0 34px;}
.navi_menu nav ul li{font-size: 11px; width: 55px; display: flex; flex-direction: column; justify-content: center; text-align: center;}
.navi_menu nav ul li img{width: 35px; height: 35px; margin-bottom: 7px;}

.navi_menu p{position: absolute; bottom: 20px; right: 25px; width: 55px; height: 18px; font-size: 11px; background: #dee8ff; text-align: center; line-height: 18px; border-radius: 18px;}

.navi_menu .snb h2{width: 100%; margin-bottom: 15px;}

.navi_menu .snb>ul>li{}
.navi_menu .snb>ul>li>span{display: block; width:100%; height: 23px; background: #DEE8FF; margin-bottom: 5px; line-height: 23px; border-radius: 25px; font-size: 12px; padding-left: 16px; box-sizing: border-box;}

.navi_menu .snb>ul>li>ul{width: 100%; padding-left: 35px; box-sizing: border-box; margin-top: 10px; margin-bottom: 12px;}
.navi_menu .snb>ul>li>ul>li>a{display: block; font-size: 15px; padding: 5px 0; box-sizing: border-box; background: url(../images/ico_nav_go.png) no-repeat 90% 50%;}

.navi_menu .snb>ul>li:nth-child(2)>ul>li>a{background: none;}
.navi_menu .snb>ul>li:nth-child(2)>ul>li:first-child span,.navi_menu .snb>ul>li:nth-child(2)>ul>li:last-child span{position: relative; display: inline-block; width: 26px; height: 12px; margin-left: 77px; background: #788091; border-radius: 12px; transition: all 0.3s ease 0s;}
.navi_menu .snb>ul>li:nth-child(2)>ul>li:first-child span:after,.navi_menu .snb>ul>li:nth-child(2)>ul>li:last-child span:after{position: absolute; left: 2px; top: 50%; transform: translateY(-50%); content: ""; display: block; width: 8px; height: 8px; background: #fff; border-radius: 4px; transition: all 0.3s ease 0s;}
.navi_menu .snb>ul>li:nth-child(2)>ul>li:last-child span{margin-left: 39px;}


.navi_menu .snb>ul>li:nth-child(2)>ul>li span.on:after{left: 16px;}
.navi_menu .snb>ul>li:nth-child(2)>ul>li span.on{background: #6996fe;}


.navi_menu .snb>ul>li:nth-child(3)>ul>li:last-child a{background: none;}
.navi_menu .snb>ul>li:nth-child(3)>ul>li:last-child span{display: inline-block; margin-left: 85px;}


/* 탑메뉴 */
div.wrap>dl.top_menu{width: 100%; height: 112px; display: flex; justify-content: space-between; align-items: flex-end; padding: 0 16px 34px; box-sizing: border-box; background: #6996fe;}

/* 프로필 */
div.wrap>.prof{position: absolute; top: 88px;  width: 100%; height: 80px; display: flex; justify-content: space-between; background: #dee8ff; border-radius: 25px 25px 0 0; padding: 10px 30px; box-sizing: border-box; box-shadow: 0 -3px 7px rgba(0,0,0,0.2);}

div.wrap>.prof>p{display: flex; align-items: center; margin-top: -18px;}
div.wrap>.prof>p em{font-size: 23px; font-weight: bold; margin-left: 10px;}

div.wrap>.prof>a{width: 56px; height: 20px; background: #FF785B; border-radius: 20px; font-size: 10px; text-align: center; line-height: 20px; color: #fff; margin-top: 13px;}

/* 디테일 페이지 */
div.wrap>.detail_p{position: absolute; top: 147px; left: 0; width: 100%; background: #fff; border-radius: 25px 25px 0 0; box-shadow: 0 -3px 7px rgba(0,0,0,0.2); display: flex; justify-content: space-between; padding: 20px 16px 0 30px; box-sizing: border-box;}

div.wrap>.detail_p>section.temp{width: 90px; display: flex; margin-right: 10px; margin-top: 40px;}

div.wrap>.detail_p>section.temp>div{position: relative; width: 100%;}
div.wrap>.detail_p>section.temp>div>span{position: relative; display: block; width: 5px; height: 340px; background: #dee8ff; border-radius: 5px;}
div.wrap>.detail_p>section.temp>div>span:after{position: absolute; left: 50%; margin-left: -3px; top: 223px; margin-top: -60px; content: ""; display: block; width: 6px; height: 10px; background: #6996fe; border-radius: 7px; animation: s_move 4s ease 0s 1 forwards;}

div.wrap>.detail_p>section.temp>div>em{position: absolute; top: 160px; left: -3.5px; display: block; width: 7px; height: 7px; background: #fff; border: 3px solid #ff785b; border-radius: 10px; animation: c_move 4s ease 0s 1 forwards;}
div.wrap>.detail_p>section.temp>div>em:after{position: absolute; top: 0px; left: -3px; content: ""; display: block; width: 7px; height: 7px; background: #fff; border: 3px solid #ff785b; border-radius: 10px; animation: c_move2 4s ease 0s 1 forwards;}

@keyframes s_move{
	0%{height: 10px; top: 223px;}
	25%{height: 45px; top: 200px;}
	50%{height: 25px; top: 260px;}
	75%{height: 25px; top: 230px;}
	100%{height: 130px; top: 170px;}
}

@keyframes c_move{
	0%{top: 160px;}
	25%{top: 140px;}
	50%{top: 200px;}
	75%{top: 160px;}
	100%{top: 100px;}
}

@keyframes c_move2{
	0%{top: 0px;}
	25%{top: 40px;}
	50%{top: 15px;}
	75%{top: 30px;}
	100%{top: 130px;}
}

div.wrap>.detail_p>section.temp>ul{}
div.wrap>.detail_p>section.temp>ul>li{position: relative; left: -5px; margin-bottom: 82px; font-size: 14px; font-weight: bold;}
div.wrap>.detail_p>section.temp>ul>li:nth-child(2){margin-bottom: 116px; opacity: 0; animation: txt 0.5s ease 4s 1 forwards;}
div.wrap>.detail_p>section.temp>ul>li:nth-child(3){opacity: 0; animation: txt 0.5s ease 4s 1 forwards;}

@keyframes txt{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
div.wrap>.detail_p>section.temp>ul>li span{position: absolute; display: inline-block; width: 3px; height: 3px; background: #100f3e; border-radius: 3px;}
div.wrap>.detail_p>section.temp>ul>li:first-child span{left: -3px;}

div.wrap>.detail_p>section.content{display: flex; flex-direction: column;}

div.wrap>.detail_p>section.content>p{font-size: 17px; font-weight: 700; background: url(../images/ico_location2.png) no-repeat 0 60%; text-indent: 15px; margin-bottom: 15px;}
div.wrap>.detail_p>section.content>p>em{font-size: 10px;}

div.wrap>.detail_p>section.content>img{box-shadow: 0 5px 5px rgba(0,0,0,0.5); border-radius: 28px; margin-bottom: 25px;}
div.wrap>.detail_p>section.content>ul{display: flex; justify-content: space-between; align-items: center;}
div.wrap>.detail_p>section.content>ul li:first-child{width: 51px; height: 22px; position: relative; margin-top: -2px; background: url(../images/ico_wear_like.png) no-repeat 50% 0; animation: like_bg 0.3s linear 7s 1 forwards}
div.wrap>.detail_p>section.content>ul li:first-child:after{display: block; content: ""; width: 51px; height: 22px; background: url(../images/ico_wear_like.jpg) no-repeat 50% 0;}

@keyframes like_bg{
	0%{background: url(../images/ico_wear_like.png) no-repeat 50% 0;}
	100%{ background: url(../images/ico_like2.png) no-repeat 50% 0;}
}

div.wrap>.detail_p>section.content>ul li:first-child em{position: absolute; left: 25px; top: 4.5px; font-size: 11px; color: #fff;}
div.wrap>.detail_p>section.content>ul li:first-child em:after{opacity: 0; content: ''; display: block; width: 51px; height: 22px; border: 2px solid #ff785b; border-radius: 22px; position: absolute; left: -27px; top: -7px; animation: like 0.3s linear 7s 1}

@keyframes like{
	0%{opacity: 0; transform: scale(1);}
	50%{opacity: 1; transform: scale(1.2);}
	100%{opacity: 0; transform: scale(1.4);}
}
div.wrap>.detail_p>section.content>ul li:last-child{}
div.wrap>.detail_p>section.content>ul li:last-child>em{margin-left: 7px;}

div.wrap>.detail_p>section.content>dl{}
div.wrap>.detail_p>section.content>dl>dt{font-size: 17px; font-weight: 700; margin: 20px 0 10px;;}
div.wrap>.detail_p>section.content>dl>dd{font-size: 11px; margin-bottom: 15px;}
div.wrap>.detail_p>section.content>div.map{width: 278px; height: 180px; background: #e1e1e1; border-radius: 10px; margin-bottom: 20px;}